/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%;	vertical-align: baseline;	background: transparent;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}/* remember to define focus styles! */:focus {	outline: 0;}/* remember to highlight inserts somehow! */ins {	text-decoration: none;}del {	text-decoration: line-through;}/* tables still need 'cellspacing="0"' in the markup */table {	border-collapse: collapse;	border-spacing: 0;}

/* basic elements */
body {
  font-family: Helvetica, "Helvetica", Arial, Sans-serif;
  font-size: 14px;
  color: #333;
  background: #dfdfdf;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

a { color: #555; }
a:hover { color: #f78f1e; }

/* misc/utility classes */

.inner {
  width: 940px;
  margin: 0 auto;
}

/* layout */

div#header {
  background-color: #444;
  border-top: #999 1px solid;
  border-bottom: #999 1px solid;
  height: 60px;
}
#header h1 {
  background: url(/images/logo.png) no-repeat left top;
  width: 171px;
  height: 35px;
  margin-top: 15px;
  text-indent: -9999px;
  float: left;
}
#header ul {
  float: right;
  margin-top: 20px;
}
#header ul li {
  float: left;
}
#header ul li a {
  color: #cacaca;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  float: left;
  margin-right: 1px;
  padding: 13px 15px 13px;
}
#header ul li a:hover { color: #fff; }
#header ul li.current a {
  background: #222;
}

div#main {
  border-bottom: #bbc4cc 1px solid;
  border-top: #222 4px solid;
  background-color: #fff;
  padding: 30px 0 50px;
}

div#footer {
  color: #444;
  border-top: #fff 1px solid;
}
#footer ul {
  float: left;
  margin: 20px 60px 0 0;
}
#footer ul li a {
  display: block;
  line-height: 24px;
  color: #444;
  text-decoration: none;
}
#footer p {
  clear: both;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* post layout */

#posts div.post {
  margin-bottom: 60px;
}
.post h1.title {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: .05em;
  border-bottom: #eee 1px solid;
  padding-bottom: 5px;
}

.post p {
  margin: 1em 0;
  line-height: 20px;
}
.post div.content {
  line-height: 18px;
  padding: 0 0 20px;
}
.post div.meta {
  background: #eee;
  padding: 10px;
}
