<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{{ page.title }} | F/ interactive</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/webtoolkit.md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
    {% if page.section == "blog" %}
      <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('.author em').makeGravatars();
        });
      </script>
    {% endif %}
  </head>
  <body>
    <div id="header">
      <div class="inner">
        <h1><a href="/">f/ interactive</a></h1>
        <ul>
          <li class="{% if page.section == 'home' %}current{% endif %}"><a href="/">Home</a></li>
          <li class="{% if page.section == 'about' %}current{% endif %}"><a href="#">About</a></li>
          <li class="{% if page.section == 'blog' %}current{% endif %}"><a href="/blog.html">Blog</a></li>
          <li class="{% if page.section == 'community' %}current{% endif %}"><a href="#">Community</a></li>
        </ul>
      </div>
    </div>
    <div id="main">
      {% if page.section == 'blog' %}
        <div class="sub_nav">
          <div class="inner">
            <ul>
              {% include categories.html %}
            </ul>
          </div>
        </div>
      {% endif %}
      <div class="inner">{{ content }}</div>
    </div>
    <div id="footer">
      <div class="inner">
        <ul>
          <li><a href="#"><strong>About</strong></a></li>
          <li><a href="#">jobs</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="http://factorylabs.com">factorylabs.com</a></li>
        </ul>
        <ul>
          <li><a href="#"><strong>Community</strong></a></li>
          <li><a href="#">open source</a></li>
          <li><a href="#">events &amp; presentations</a></li>
        </ul>
        <ul>
          <li><a href="/blog.html"><strong>Blog</strong></a></li>
          {% include categories.html %}
        </ul>
        <p>For Developers by Developers</p>
      </div>
    </div>
  </body>
</html>
