<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div id="header">
      <div class="inner">
        <h1>f/ interactive</h1>
        <ul>
          <li class="current"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Community</a></li>
        </ul>
      </div>
    </div>
    <div id="main">
      <div class="inner">{{ content }}</div>
    </div>
    <div id="footer">
      <div class="inner">
        <ul>
          <li><a href="#"><strong>About</strong></a></li>
          <li><a href="#">jobs</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">factorylabs.com</a></li>
        </ul>
        <ul>
          <li><a href="#"><strong>Community</strong></a></li>
          <li><a href="#">open source</a></li>
          <li><a href="#">events &amp; presentations</a></li>
        </ul>
        <p>Lorem ipsizzle dolor crazy amizzle, consectetizzle adipiscing elit. Nullizzle brizzle velizzle, rizzle volutpizzle.</p>
      </div>
    </div>
  </body>
</html>
